body {
    background-color: hsl(30, 38%, 92%);
}

img {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.product-preview-card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
}

.details-container {
    padding: 1em;
}