*, *::before, *::after {
    box-sizing:border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
    padding: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.product-img {
    width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.product-preview-card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5em;
}

.details-container {
    padding: 1.5em;
}

.product-category {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin-top: 0;
}

.product-name {
    font-family : Fraunces;
    color:  hsl(212, 21%, 14%);
}

.product-description {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%)
}

.price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.current-price {
    font-family : Fraunces; 
    font-weight: 700;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    margin-right: 0.5em;
}

.prev-price {
    font-family : Montserrat;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    text-decoration:line-through;
}

.add-cart-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 0.5em;
    margin-top: 1em;
    text-decoration: none;
}

.add-cart-button:hover, .add-cart-button:focus {
    background-color: hsl(158, 42%, 18%);
}

.add-cart-button p {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}

.icon-cart {
    margin-right: 1em;
}

.attribution {
     font-size: 11px; 
     text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (width > 600px) {

    .product-img {
        width: 100%;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        border-top-right-radius: 0;
        vertical-align: bottom;
    }

    .product-preview-card {
        display: flex;
        flex-direction: row;
        max-width: 600px;
    }

    .details-container {
        width: 80%;
        padding: 2em;
        align-self: center;
    }
}